<svg:line class="unselectable" [attr.x1]="separator.x1" [attr.y1]="separator.y1" [attr.x2]="separator.x2"
          [attr.y2]="separator.y2" [attr.stroke-width]="2" stroke="#e57373"></svg:line>
<svg:path class="unselectable" [@overLine]="focused ? 'hover' : 'unhover'" (mouseover)="focused=true"
          (mouseout)="focused=false" [attr.d]="d" [attr.stroke]="'#e53935'" [attr.stroke-width]="25"
          [matTooltip]="'Hour: '+seg.hour+', Rtm = '+seg.resistance+' mmHg/&mu;L/min'" (click)="editSegment()"></svg:path>
